.slick-arrow {
    /* width: 550px;
    position: absolute;
    /* padding: 80px; */
    /* left: 23%; */
    background-color: black !important;

}

.card img {
    width: 400px;
    height: 200px;
}

.card {
    width: 400px;
}